<h1>LOG IN</h1>
<form [formGroup]="authForm" (ngSubmit)="login()">
    <div class="d-flex flex-column align-items-center">
        <p class="text-muted">Accede a nuestra tienda virtual para realizar pedidos de nuestros productos</p>
        <input type="email" formControlName="correo" class="caja form-control" placeholder="Correo electrónico">
        <input type="password" formControlName="password" class="caja form-control" placeholder="Contraseña">
    </div>
    <div class="mb-3 mt-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="recuerdame">
        <label class="form-check-label" for="exampleCheck1">Recúerdame</label>
    </div>
    <div *ngIf="this.authForm.get('correo')?.errors?.['required'] && this.authForm.get('correo').touched" class="text-danger text-center" role="alert">
        (El correo no puede quedar vacío)
    </div>
    <div *ngIf="this.authForm.get('correo')?.errors?.['email'] && this.authForm.get('correo').touched" class="text-danger text-center" role="alert">
        (El correo no es válido)
    </div>
    <div *ngIf="this.authForm.get('password')?.errors?.['required'] && this.authForm.get('password').touched" class="text-danger text-center" role="alert">
        (La contraseña no puede quedar vacía)
    </div>
    <div *ngIf="this.authForm.get('password')?.errors && this.authForm.get('password').touched" class="text-danger text-center" role="alert">
        (La contraseña debe tener al menos 6 caracteres)
    </div>
    <div class="d-flex flex-column align-items-center">
        <button type="submit" class="botonAuth mb-3" value="1">Iniciar Sesión</button>
    </div>
</form>
<div class="d-flex flex-column align-items-center mb-5">
    <p class="text-center text-muted">- o -</p>
    <button class="botonFacebook mb-3" (click)="loginFacebook()"><i class="bi bi-facebook" style="font-size: 1.3rem;" value="2"></i> Iniciar Sesión con Facebook</button>
    <button class="botonGoogle" (click)="loginGoogle()"><i class="bi bi-google" style="font-size: 1.3rem;" value="3"></i> Iniciar Sesión con Google</button>
    <a routerLink="/auth/registro" class="mt-3 text-muted">No tienes tienes una cuenta? Regístrate aquí...</a>
    <a routerLink="/auth/recuperacion" class="mt-3 text-muted">Olvidé mi contraseña</a>
</div>