.caja {
    height: 4rem;
    width: 100%;
}

.botonAuth {
    width: 80%;
    height: 3rem;
    border: unset;
    background-color: #327ef4;
    color: white;
}

.botonFacebook {
    width: 80%;
    height: 3rem;
    background-color: #3b5998;
    color: white;
    border: unset;
}

.botonGoogle {
    width: 80%;
    height: 3rem;
    background-color: #d94f3f;
    color: white;
    border: unset;
}

.poster {
    height: 600px;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 19, 19, 0.26);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: whitesmoke;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: white;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media screen and (max-width: 767px) {
    .poster {
        display: none;
    }
}

footer {
    min-height: 40px;
    background-color: #191919;
    width: 100%;
    position: relative;
    bottom: 0;
}