.slider img {
    height: 445px;
    width: 100%;
}

.slider {
    position: relative;
}

.slider h3 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 61px;
    font-weight: bold;
    left: 30%;
    position: absolute;
    top: 45%;
}