<div class="container marketing">

    <div class="h2">Síguenos en nuestras redes sociales</div>
    <div class="row p-5" style="background-color: whitesmoke">
        <div class="col-lg-4">
            <img src="../../../../assets/img/facebook.png" class="img-fluid" style="width: 140px; height: 140px;" alt="Responsive image">

            <h2>Tienda-DAPS</h2>
            <p>Contamos con un market place en Facebook</p>
            <p><a class="btn btn-secondary">Seguir &raquo;</a></p>
        </div>

        <div class="col-lg-4">
            <img src="../../../../assets/img/instagram.png" class="img-fluid" style="width: 140px; height: 140px;" alt="Responsive image">

            <h2>daps_tiendaEC</h2>
            <p>No te pierdas de las novedades y de los nuevos productos</p>
            <p><a class="btn btn-secondary">Seguir &raquo;</a></p>
        </div>

        <div class="col-lg-4">
            <img src="../../../../assets/img/whatsapp.png" class="img-fluid" style="width: 140px; height: 140px;" alt="Responsive image">

            <h2>0906562452</h2>
            <p>Puedes comprar a través de nuestro Whatsapp</p>
            <p><a class="btn btn-secondary" href="#">Contactar &raquo;</a></p>
        </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Visita nuestra tienda.<span class="text-muted">Tenemos productos</span></h2>
            <p class="lead">para el hogar como computadoras, laptops, consolas y mas..</p>
        </div>
        <div class="col-md-5">
            <img src="../../../../assets/img/3review.png" class="img-fluid" style="width: 500px; height: 500px;" alt="Responsive image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Puedes comprar desde tu casa<span class="text-muted"> de forma fácil y rápida</span></h2>
            <p class="lead">Simplemente selecciona los productos que son de tu interés y págalos por medio de paypal o con tu tarjeta de crédito</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="../../../../assets/img/1review.png" class="img-fluid" style="width: 500px; height: 500px;" alt="Responsive image">

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Tus pedidos se entregan<span class="text-muted"> rápido y en tu casa</span></h2>
            <p class="lead">Se realizan envíos a todo el país (excepto Galápagos) a través de el servicio de Servientrega en un plazo máximo de 5 días hábiles o puedes retirar tu orden en nuestro local</p>
        </div>
        <div class="col-md-5">

            <img src="../../../../assets/img/2review.png" class="img-fluid" style="width: 500px; height: 500px;" alt="Responsive image">
        </div>
    </div>

    <hr class="featurette-divider">

</div>